@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #272727;
}

textarea:focus,
input:focus {
    outline: none;
}
